<button class="burger-btn" id="burgerBtn" aria-label="Abrir menú">
    <i class="fas fa-bars"></i>
</button>
<nav class="sidebar bg-white shadow-sm d-flex flex-column align-items-center py-4">
    <a href="/dashboard" id="nav-presupuestos" class="nav-link my-2" title="Gestiona tus presupuestos mensuales">
        <i class="fas fa-wallet"></i>
    </a>
    <a href="/monthly-overview" id="nav-resumen" class="nav-link my-2" title="Consulta el resumen de tus gastos e ingresos">
        <i class="fas fa-calendar-alt"></i>
    </a>
<!--    <a href="/image-upload-ocr" id="nav-anadir" class="nav-link my-2" title="Añade una nueva transacción con OCR">-->
<!--        <i class="fas fa-plus-circle"></i>-->
<!--    </a>-->
    <a href="/market" id="nav-market" class="nav-link my-2" title="Explora el mercado y tendencias">
        <i class="fas fa-chart-line"></i>
    </a>
    <a href="/profile" id="nav-profile" class="nav-link my-2" title="Gestiona tu perfil y configuración">
        <i class="fas fa-user"></i>
    </a>
</nav>